@font-face {
	font-family: "Acumin";
	src: url("/fonts/AcuminVariableConcept.otf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Avenir Next";
	src: url("/fonts/final/AvenirNext-Regular-08.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Avenir Next";
	src: url("/fonts/final/AvenirNext-Medium-06.ttf");
	font-weight: 700;
	font-style: medium;
}

@font-face {
	font-family: "Avenir Next";
	src: url("/fonts/final/AvenirNext-Bold-01.ttf");
	font-weight: 900;
	font-style: bold;
}

@font-face {
	font-family: "Avenir Next";
	src: url("/fonts/final/AvenirNext-Heavy-09.ttf");
	font-weight: 1000;
	font-style: heavy;
}

@font-face {
	font-family: "Acumin Variable Concept";
	src: url("/fonts/AcuminVariableConcept-v2.otf");
	font-weight: 300;
	font-style: normal;
}

h2 {
	font-family: "Avenir Next", "Acumin", sans-serif;
}
